/* Style CSS pour la fenêtre modale */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.222);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 60%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }

  .book-image img {
    transition: transform 0.3s ease; /* Ajoute une transition pour une animation fluide */
}

.book-image:hover{
    transform: scale(1.1); /* Augmente légèrement la taille de l'image au survol */
}

.book-container {
  width: 150px; /* Définissez la largeur souhaitée pour le carré */
  height: 200px; /* Définissez la hauteur souhaitée pour le carré */
  margin: 20px; /* Ajoutez une marge pour l'espacement entre les carrés */
  display: flex; /* Utilisez flexbox pour aligner les éléments horizontalement */
  flex-direction: column; /* Alignez les éléments en colonne */
  justify-content: center; /* Centrez les éléments verticalement */
  align-items: center; /* Centrez les éléments horizontalement */
}

.book-image {
  width: 50px; /* Définissez la taille souhaitée */
  height: 50px;
  transition: transform 0.3s ease-in-out; /* Ajoutez la transition pour le dynamisme */

}
  