body {
  background-color: rgb(246, 245, 245);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #d1d6fb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: rgb(90, 90, 247);
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cecfe3;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4c59af;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #458ea0;
}

.links {
  margin-top: 20px;
  color: #72a7f7;
}

.links a {
  text-decoration: none;
  color: #729cf6;
}

.links a:hover {
  text-decoration: underline;
}

#registrationMessage {
  color: #0080ff;
  margin-top: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}
.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}


