@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
    filter: drop-shadow(1px 2px 3px rgba(190, 18, 61, 0.671));
  }
  .hero {
    background-color: #1cdaae; /* Couleur de fond rouge */
    color: #FFFFFF; /* Couleur du texte blanc */
  }
  